body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 350px;
    background-image: url('/assets/alfons-morales-YLSwjSy7stw-unsplash.jpg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header > * {           /* makes sure tint in 'header::after' is not applied to header items */ 
    z-index: 10;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 40%;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    font-size: 14px;
}

.nav-button.new-post-button {
    background-color: #0F1AC7;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8em;
    position: fixed;
    bottom: 30px;
    right: 30px; 
    box-shadow: 0 2px 5px .3px rgba(0, 0, 0, .26);
    transition: all .22s;
}

.nav-button.new-post-button:hover {
    background-color: #0C1AED;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/assets/IMG_5375.jpeg');
    background-size: cover;
}

.profile-name {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}

.post-link {
    text-decoration: none;
}

.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    min-height: 200px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, .1);
    transition: all .25s;
    cursor: pointer;
}

.post-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 40%;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
    border-left: 1px solid  #eaecee;
}

.post-date {
   font-size: 14px;
   font-weight: 600;
   color: lightgrey;
}

.post-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 16px;
}

.post-text {
    color: #262323;
    margin-top: 4px;
    line-height: 1.4;
    max-height: 65px; /* to limit the number of lines of text we see */
    overflow: hidden; 
}

.navigation {
    height: 17px;
    width: 35.58px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid  #2889CC;
}

/* for Back navigation button */
a {
    text-decoration: none;
    color: #2889CC;
}
